In [7]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [8]:
df = pd.read_csv("hiring.csv")
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

In [11]:
df.experience=df.experience.fillna(df.experience.median())

In [12]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         6.0                    8.0                           9      50000
1         6.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

In [22]:
df['test_score(out of 10)']= df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median())
med = df['test_score(out of 10)'].median()
med

8.0

In [14]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         6.0                    8.0                           9      50000
1         6.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    8.0                           7      72000
7        11.0                    7.0                           8      80000

In [15]:
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [16]:
X = df.drop('salary($)',axis='columns')
y = df['salary($)']

In [17]:
X

   experience  test_score(out of 10)  interview_score(out of 10)
0         6.0                    8.0                           9
1         6.0                    8.0                           6
2         5.0                    6.0                           7
3         2.0                   10.0                          10
4         7.0                    9.0                           6
5         3.0                    7.0                          10
6        10.0                    8.0                           7
7        11.0                    7.0                           8

In [18]:
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [19]:
reg.fit(X,y)

LinearRegression()

In [20]:
reg.coef_

array([2813.00813008, 1333.33333333, 2926.82926829])

In [21]:
reg.predict([[2,9,6]])

C:\Users\Lenovo\Desktop\code\ML\udemy-course\sample_project\env\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([47056.91056911])